<div id="<%= dom_id statement %>">
<tbody>
    <tr>
      <th scope="row"><%= link_to statement.id, statement %></th>
      <td>£<%= sprintf("%.2f", statement.disposable_income.to_f) %></td>
      <td><%= statement.rating %></td>
      <td><%= statement.month.strftime("%B %Y")%></td>
      <td><%= statement.user.email %></td>
    </tr>
  </tbody>
</div>
