<div class="container mt-5">

  <p style="color: green"><%= notice %></p>
<%= button_to "Log out", destroy_user_session_path, method: :delete,class: "btn btn-primary card-button logoutButton"  %>

  <div class="row mb-3 align-items-center">
    <div class="col mb-4">
      <h1 class="text-base font-semibold leading-7 text-gray-900">Statements</h1>
    </div>
    <div  class="col text-end">
    <%= form_with url: "/statements", method: :get do |form| %>
      <div class="input-group">
        <span class="input-group-text">Select</span>
        <%= form.date_field :search, placeholder: "Search", name: 'search', class: "form-control" %>
        <%= form.submit "Search",  method:'get', class:'btn btn-primary' %>
      </div>
      <div class='form-text'>Search your Income and Expenditure Statements by Month</div>
    <% end %>
    </div>
    <div class="col text-end mb-4">
      <%= link_to "New statement", new_statement_path, class: "btn btn-secondary card-button" %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <table class="table statementTable">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Disposeable Income</th>
            <th scope="col">Rating</th>
            <th scope="col">Month</th>
            <th scope="col">User</th>
          </tr>
        </thead>
        <tbody>
          <% @statements.each do |statement| %>
            <%= render statement %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
